.color-1 {
    color: rgb(60, 179, 113);
  }
  
  .color-2 {
    color: rgb(60, 179, 163);
  }
  
  .color-3 {
    color: rgb(60, 175, 179);
  }
  
  .color-4 {
    color: rgb(60, 131, 179);
  }
  
  .color-5 {
    color: rgb(60, 88, 179);
  }